@import '../variables';
@import '../mixins';
.#{$prefix}-ui-playbacktogglebutton {
  @extend %ui-button;
  background-image: svg('assets/skin-egghead/images/play.svg');
  &:hover {
    @include svg-icon-shadow;
  }
  &.#{$prefix}-on {
    background-image: svg('assets/skin-egghead/images/pause.svg');
    &.#{$prefix}-stoptoggle {
      background-image: svg('assets/skin-egghead/images/stop.svg');
    }
  }
}