@import '../variables';
@import '../mixins';
.#{$prefix}-ui-volumetogglebutton {
  @extend %ui-button;
  background-image: svg('assets/skin-egghead/images/music-onX.svg');
  &:hover {
    @include svg-icon-shadow;
  }
  &.#{$prefix}-low {
    background-image: svg('assets/skin-egghead/images/music-low.svg');
  }
  &.#{$prefix}-on {
    background-image: svg('assets/skin-egghead/images/music-off.svg');
  }
}